body {
  color: #40514e;
  margin: 0;
  font-family: "Merriweather", serif;
  text-align: center;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1 {
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  font-size: 7.5rem; /*For large text it will be 16px (actual size) 90px/16px*100% = 562.6% or convert it to em/rem*/
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder 5000;
}

p {
  line-height: 2;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 100px; /*Push down the cloud so it is not all stuck at the top*/
  position: relative; /*Relative to the body, parent has to be relative to move child element*/
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 40px 0 20px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.copyright-me {
  color: #eaf6f6;
  font-size: 0.75em;
  padding: 20px 0;
}

.top-cloud {
  position: absolute; /*Take out of flow with absolute*/
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}

.code-img {
  float: left; /*Text wraps around the image while image is left of the text*/
  margin-right: 30px;
  width: 23%;
}

.piplup-img {
  float: right;
  margin-left: 30px;
  margin-bottom: 1em;
  width: 23%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: 100;
  padding: 15px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #09a395 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
